<style>
    .footer {
            background-color: #48d4ca;
            color: #fff;
            padding: 20px 0;
            flex-shrink: 0;
        }

        .footer .container {
            max-width: 1200px;
            width: 100%;
            margin: auto;
            text-align: center;
        }

        .footer p {
            font-size: 14px;
        }
</style>
<footer class="footer">
    <div class="container">
      <p>&copy; 2023 Currency Express. All rights reserved.</p>
    </div>
  </footer>
  