<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <style>
      /* Global styles */
      *,
      *::after,
      *::before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      .html {
        font-size: 62.5%;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      .container {
        max-width: 1200px;
        width: 90%;
        margin: auto;
      }
         /* Navbar styles */
      .navbar {
        box-shadow: 0px 5px 10px 0px #aaa;
        position: fixed;
        width: 100%;
        background: #ffffff;
        color: #000;
        opacity: 0.85;
        height: 50px;
        z-index: 100;
      }
 /* Menu items styles */
      .menu-items {
        opacity: 86%;
        border: 1px solid rgb(0, 0, 0);
      }

      .menu-items li {
        list-style: none;
        margin-left: 1.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        border-bottom: 2px solid #8c35f5; 
        padding-bottom: 1rem; 
        text-align: left;
      }

      .menu-items a {
        text-decoration: none;
        color: #000000;
        font-weight: 500;
        transition: color 0.3s ease-in-out;
      }

      .menu-items a:hover {
        color: #18ffd1;
        transition: color 0.3s ease-in-out;
      }
      /* Removes the border and padding for the last item */
      .menu-items li:last-child {
        border-bottom: none;
        margin-bottom: 0; 
        padding-bottom: 0; 
      }
      /* Logo styles */
      .logo {
        order: 1;
        font-size: 2.3rem;
        margin-bottom: 0.5rem;
        color: black;
      }

      /* Navbar container and hamburger icon styles */

      .navbar {
        opacity: 0.95;
      }

      .navbar-container input[type="checkbox"],
      .navbar-container .hamburger-lines {
        display: block;
      }

      .navbar-container {
        display: block;
        position: left;
        height: 64px;
      }

      .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }

      .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
      }

      .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
      }

      .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        cursor: pointer;
      }

      .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
      }

      .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        cursor: pointer;
      }
 /* Menu open/close animation */
      .navbar .menu-items {
        padding-top: 60px;
        background: #fff;
        height: 50vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -230px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #000000;
      }
      /* Navigation items styles */
      /* .nav-items {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 20px;
      }

      .nav-items li {
        list-style: none;
        margin-right: 1.5rem;
        font-size: 1.2rem;
      }

      .nav-items a {
        text-decoration: none;
        color: #444;
        font-weight: 500;
        transition: color 0.3s ease-in-out;
      }

      .nav-items a:hover {
        color: #06ffcd;
        transition: color 0.3s ease-in-out;
      } */
      .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
      }
 /* Logo position */
      .logo {
        position: absolute;
        top: 5px;
        right: 610px;
        font-size: 2rem;
      }

      a {
        text-decoration: none;
        color: #444;
        font-weight: 500;
       
      }
/* Navbar toggle styles when checkbox is checked */
      .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      
      }

      .navbar-container
        input[type="checkbox"]:checked
        ~ .hamburger-lines
        .line1 {
        transform: rotate(35deg);
        background-color: red; /* Change color on click */
      }

      .navbar-container
        input[type="checkbox"]:checked
        ~ .hamburger-lines
        .line2 {
       
        transform: scaleY(0);
     
      }

      .navbar-container
        input[type="checkbox"]:checked
        ~ .hamburger-lines
        .line3 {
        transform: rotate(-35deg); 
        background-color: red; /* Change color on click */
      }
      .nav-items {
      display: flex;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 20px;
    }

    .nav-items li {
      list-style: none;
      margin-right: 1.5rem;
      font-size: 1.2rem;
    }

    .nav-items a {
      text-decoration: none;
      color: #444;
      font-weight: 500;
      transition: color 0.3s ease-in-out;
    }

    .nav-items a:hover {
      color: #06ffcd;
      transition: color 0.3s ease-in-out;
    }

    #profile-Photo {
      position: absolute;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      /* margin-right: 10px; Add some spacing between image and text */
      left: -12px;
    top: -8px;
    }
      .profile-dropdown {
  position: absolute;
  top: 40px; /* Adjust this value to position the dropdown properly */

  right: -20px;
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 0;
  min-width: 160px;
  z-index: 10;
  display: none; /* Hide by default */
}

.profile-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-dropdown li {
  padding: 10px 20px;
}

.profile-dropdown a {
  color: #333;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease-in-out;
}

.profile-dropdown a:hover {
  color: #18ffd1;
  display: hidden;
}

/* .nav-items li:hover .profile-dropdown {
  display: block; Show dropdown on hovernav-items li:hover .profile-dropdown,
.nav-items li.show-dropdown .profile-dropdown {
  display: hidden; /* Show dropdown on hover or when the show-dropdown class is present */
/* } */
.profile-dropdown.show {
  display: block; 
  color: grey;
  background-color: whitesmoke; 
  border: 2px solid black;
}
    </style>
  </head>
  <body>
    <% if (user) { %>
    <nav class="navbar">
      <div class="navbar-container container">
        <input type="checkbox" name="" id="" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <ul class="menu-items">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/converter">Currency Converter</a></li>
          <li><a href="/faqs">FQA</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
        <a class="logo" href="/">CURRE₦¢¥ EX₱R€$$</a>

     
      <ul class="nav-items">
        <li>
          <img id="profile-Photo" src="<%= user.profilePhoto %>">
          <div class="profile-dropdown">
            <ul>
              <!-- Add profile-related links here, such as "My Profile" and "Settings" -->
              <li><a href="/profile">My Profile</a></li>
              <li><a href="/logout">Sign Out</a></li>
            </ul>
          </div>
        </li>
      </ul>
      </div> 
    </nav>
    <% } else { %>
      <nav class="navbar">
        <div class="navbar-container container">
          <input type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/converter">Currency Converter</a></li>
            <li><a href="/faqs">FQA</a></li>
          </ul>
          <a class="logo" href="/">CURRE₦¢¥ EX₱R€$$</a>
  
          <ul class="nav-items">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
          </ul>
        </div>
      </nav>
      <% } %>
  </body>
  <script>
const profileDropdown = document.querySelector('.profile-dropdown');
const profilePhoto2 = document.getElementById('profile-Photo');

profilePhoto2.addEventListener('click', function (event) {
  profileDropdown.classList.toggle('show'); // Toggle the class to show/hide the dropdown
});


  </script>
</html>
