<style>

    
</style>

<h1>Your Trusted Currency Converter</h1>

<button>Get Started</button>
<button>Register Here</button>

<h2>Information about Converter</h2>

<p>Our website is about converting currencys from all over the world and can be done in one place. Our goal is to provide 
    our end users with a clean and simple experience with converting currencys and be able to store there data so they come back anytime where they left off at.</p>

