<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   <!-- <meta http-equiv="refresh" content="7; url='http://localhost:3000/'" /> -->
    <link rel="stylesheet" href="about.css">
    <!-- <script src="about.js"></script>  -->
    <!-- <script src="contact.js"></script>  -->
    <title>About Us</title>
   

  </head>
  <!-- includ header partial -->
  <header><%- include('partials/header.ejs') %></header>
  <body>


      <div class="about">
      
      <h1>About Us</h1>
	  <p id="info">
        We are a new company that is striving for 
        success with regards to a currency conversion.
        Our goal here is to help our end users with 
        any currency needs that they may have.
      </p>
	  <img id="money" src="currency-symbols.png" />
    
    <p id="address">&#127970;  4130 Progress Way</p>
     <p id="phone">&#9742;&#65039;  505-646-4232</p>
    <p id="follow">Follow us on our social media</p>
   
  <img id="instagram" src="Instagram_icon.png.webp">
  <img id="twitter" src="Logo_of_Twitter.png">
  <img id="facebook" src="2021_Facebook_icon.png">
  </div>

    
	<div class="contact">
      <h2>Contact Us</h2>
  <!-- Added action for form -->
<form id="form" method="post" action="/contact">
      <h3>Full Name</h3>
      <div>
        <input id="name" type="text" name="name" required >
        
    </div>
  
      <h4>Email</h4>
      <div>
        <input id="email" type="email" name="email" required>
    </div>
      
      <h5>Message</h5>
      <div>
        <textarea id="message" type="text" rows="12" cols="50" name="message" required></textarea>
    </div>
    <div>
     
    <button id="submit" type="submit" value="Submit" onclick="validate()">Submit</button>
   
      
     <p id="note1"></p>
     <p id="note2"></p>


      <!--<button><a class="button" id="submit" href="/">Submit</a></button>-->
      <p id="errorMessage" hidden></p>
    </div>
    <div>
      <!--<p id="pleaseNote" >Please note that your full name must be between 7 and 25 characters and your email must be valid or the form will not submit </p>-->
    </div>
        
	  </div>
	  
  </form>
	  
	  <script>
     const form = document.querySelector('form');
     const name = document.getElementById('name').value;
     const email = document.getElementById('email').value;
     const message = document.getElementById('message').value;
     const errorMessage = document.getElementById('errorMessage');


form.addEventListener("submit", async (e) => {


  document.getElementById("submit").addEventListener("click", validate());

function validate() {
    const name = document.getElementById('name').value;
     const email = document.getElementById('email').value;
     const message = document.getElementById('message').value;
     var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
    //  window.location.replace  = "http://localhost:3000/";
    //  location.replace("http://localhost:3000/");
console.log(pattern);
     
     if(name.length < 7 || name.length >25){
      document.getElementById("note1").innerHTML = "Full name must be between 7 and 25 charaters";
     } else{
      document.getElementById("note1").innerHTML = "";

     }
     if(email.match(pattern)){
      document.getElementById("note2").innerHTML = "";
     } else {
      document.getElementById("note2").innerHTML = "Prove a valid email address";
     }
  }

  
  try {
        const res = await fetch('/contact', {
            method: 'POST',
            body: JSON.stringify({ name, email, message }),
            headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();
        console.log(data);
        if (data.success) {
            window.location.href = '/';
        }
    } catch (err) {
        console.log(err);
    }

});






    
// Added fetch code 
    // Make a POST request to the server
    // This sends the data to the server so you can access it 
    // fetch('/contact', {
    //     method: 'POST',
    //     headers: {
    //         'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify({ name, email, message })
    // })
    // .then(response => response.json())
    // .then(data => {
    //     console.log("Server response:", data);

     
        
    // })
    // .catch(error => {
    //     console.error('An error occurred:', error);
    // });
    </script>
	  
	  
    <script src="" async defer></script>
  </body>
 <footer><%- include('partials/footer.ejs') %></footer>
</html>
