<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css">
    <title>About Us</title>
   
    <style>
  
        .about {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-height: 60vh;
          padding: 20px;
          background-color: #4851D4;
        }
      
      .contact {
          display: flex;
          flex-direction: row;
          background-color: #5BADEB;
          min-height: 40vh;
          padding: 20px;
      }
      
      h1{
          color: white;
          font-size: 30px;
          position: relative;
          right:675px;
          bottom: 20px;
      }
      
      img{
          height: 300px;
          width: 400px;
          position: relative;
          left: 100px;
          bottom: 150px;
      }
      
      p{
          width: 350px;
          height: 175px;
          color: white;
          font-size: 20px;
          position: relative;
          right: 500px;
          top:100px;
          border:#48D4CA;
      }
      
      h2{
          color: white;
          font-size: 30px;
      }
      
      h3{
          font-size: 18px;
          color: white;
          position: relative;
          top: 100px;
          right: 125px;
      }
      
      #name{
          width: 350px;
          height: 30px;
          font-size: 14px;
          position: relative;
          top:150px;
          right:205px;
          
      }
      
      h4{
          font-size: 18px;
          color: white;
          position: relative;
          top: 215px;
          right:562px;
      }
      
      #email{
          width: 350px;
          height: 30px;
          font-size: 14px;
          position: relative;
          top:270px;
          right:610px
      }
      
      h5{
          font-size: 18px;
          color: white;
          position: relative;
          top: 80px;
          right:250px
      }
      
      #message{
          width: 400px;
          height: 175px;
          font-size: 14px;
          position: relative;
          right:315px;
          top: 140px;
      }
      
      #submit{
          background-color: #54F798;
          width: 130px;
          height: 40px;
          position: relative;
          left: 1300px;
          bottom: 300px;
      }
        </style>
        

  </head>
  <!-- includ header partial -->
  <header><%- include('partials/header.ejs') %></header>
  

  <body>

      <div class="about">
      
      <h1>About Us</h1>
	  <p>
        We are a new company that is striving for 
        success with regards to a currency conversion.
        Our goal here is to help our end users with 
        any currency needs that they may have.
      </p>
	  <img src="currency-symbols.png" />
     
    </div>
	<div class="contact">
      <h2>Contact Us</h2>
  

      <h3>Full Name</h3>
      <div>
        <input id="name" type="text">
    </div>
      
      <h4>Email</h4>
      <div>
        <input id="email" type="text">
    </div>
      
      <h5>Message</h5>
      <div>
        <input id="message" type="text">
    </div>
	  </div>
	  
    <button id="submit">Submit</button>
	  
	  
	  
	  
    <script src="" async defer></script>
  </body>
 <footer><%- include('partials/footer.ejs') %></footer>
</html>