<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="styles.css">
    <title>About Us</title>
   
   
        

  </head>
  <!-- includ header partial -->
  <header><%- include('partials/header.ejs') %></header>
  

  <body>

      <div class="about">
      
      <h1>About Us</h1>
	  <p>
        We are a new company that is striving for 
        success with regards to a currency conversion.
        Our goal here is to help our end users with 
        any currency needs that they may have.
      </p>
	  <img src="currency-symbols.png" />
     
    </div>
	<div class="contact">
      <h2>Contact Us</h2>
  

      <h3>Full Name</h3>
      <div>
        <input id="name" type="text">
    </div>
      
      <h4>Email</h4>
      <div>
        <input id="email" type="text">
    </div>
      
      <h5>Message</h5>
      <div>
        <input id="message" type="text">
    </div>
	  </div>
	  
    <button id="submit">Submit</button>
	  
	  
	  
	  
    <script src="" async defer></script>
  </body>
 <footer><%- include('partials/footer.ejs') %></footer>
</html>