<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="home.css" />
  </head>
  <!-- includ header partial -->
  <header><%- include('partials/header.ejs') %></header>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <div class="main-container">
      <img src="LOGO.png" />
      <h1>Your Trusted Currency Converter</h1>
      <div class="buttons">
        <button><a class="button" href="/converter">Get Started</a></button>
        <button><a class="button" href="/register">Register Here</a></button>
      </div>
    </div>
    <div class="info">
      <h2>Information about Converter</h2>
      <p>
        Our website allows users to convert currencies from all around the world
        in one convenient place. Our objective is to give our end customers a
        clear, straightforward experience when converting currencies and the
        ability to keep their information so they can return at any time and
        pick up where they left off.
      </p>
    </div>
    <script src="" async defer></script>
  </body>
  <footer><%- include('partials/footer.ejs') %></footer>
</html>
