<!doctype html>
<html>
<head>
<title>Currency Converter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device, initial-scale=1/0">
<link rel="stylesheet" href="styles.css">
</head>
<body>
    <h2>Currency Express</h2>
    <div>
        <h3>Amount</h3>
        <input type="number">
        
    </div>

    <div>
        <h4>From</h4>
        <select>
            <option value="currency">Currency</option>
        </select>
    </div>
    <span> ⇆ </span>
    
    <div>
        <h5>To</h5>
        <select>
            <option value="currency">Currency</option>
        </select>
    </div>

    <div>
        <button>Convert</button>
    </div>

    <div>
        <input type="number">
    </div>

    <div>
        <input type="number">
    </div>


</body>
</html>
