<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Currency Express</title>
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<header><%- include('partials/header.ejs') %></header>
<body>
  <form class="login-container" action="/login" method="POST">
    <h1>Login</h1>
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Your email">
    <div class="email error"></div>
    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Your password">
    <div class="password error"></div>
    <button class="login-button">Login</button> 
    <p id="signup"><a href="/register">Haven't Signed Up Yet?</a></p>

  
  </form>
</body>
<footer><%- include('partials/footer.ejs') %></footer>
<script>
  // client side js
  const form = document.querySelector('form');
  const emailError = document.querySelector(".email.error");
  const passwordError = document.querySelector(".password.error");

 // Add an event listener to the form element
  form.addEventListener('submit', async (e) => {
    e.preventDefault();


    // get values
    const email = form.email.value;
    const password = form.password.value;
 // try to login
    try {
      // send the email and password to the server
      const res = await fetch('/login', { 
        method: 'POST', 
        // send the data as a json
        body: JSON.stringify({ email, password }),
        // set the content type header, so that we understand what type of data is sent to the server
        headers: {'Content-Type': 'application/json'}
      });
      // check the response status
      const data = await res.json();
      console.log(data);

      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      // if login is successful, redirect user to home page
      if (data.user) {
        location.assign('/');
      }

    }
    // catch error
    catch (err) {
      console.log(err);
    }
  });
</script>
</html>
