<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      margin: 0;
    }

    .login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin-top: 100px; /* Adjust this value as needed */
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 400px;
      text-align: center;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .login-container h1 {
      margin-bottom: 20px; /* Increase the margin for more spacing */
      color: #333;
    }

    .login-container label {
      text-align: left; /* Adjusted text alignment */
      display: block;
      color: #555;
      margin-top: 5px; /* Adjust margin to bring labels closer to inputs */
    }

    .login-container input {
      width: 100%;
      padding: 10px; /* Increase the padding for more spacing */
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    .login-container submit {
      display: inline-block;
      margin-top: 20px; /* Increase the margin for more spacing */
      padding: 10px 20px; /* Increase the padding for more spacing */
      background-color: #3164F4;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      width: 100%;
      height: 40px;
    }

    .login-container p {
      margin-top: 30px; /* Increase the margin for more spacing */
      color: #777;
    }

    .login-container a {
      color: #16a083;
      text-decoration: none;
      transition: color 0.3s;
    }

    .login-container a:hover {
      color: #117964;
    }
    #signup {
        left:100px;
    }
  </style>
</head>
<header><%- include('partials/header.ejs') %></header>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Your email">

    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Your password">

    <submit>Login</submit>

    <p id="signup"><a href="#">Haven't Signed Up Yet?</a></p>
    <p id="forgotPass"><a href="#">Forgot your password?</a></p>
  </div>
</body>
</html>
