body{
    background-color: blue;
    text-align: center;
    
    
}

h2{
    text-align: center;
    color: white;

}

h3{
    text-align: center;
    color: white;
  

}



h4{
    text-align: 300px;
    color: white;
    position: relative;
    right:250px;
    bottom:-50px;
    font-size: 20px;


}

h5{
    text-align: 600px;
    color: white;
    position: relative;
    left: 250px;
    top: -105px;
    font-size: 20px;

}


select{
    width: 150px;
    height: 30px;
    border: 1px solid;
    outline: none;
    position: relative;
    right:250px;
    bottom:-55px;
    

}


span{
    font-size: 40px;
    position: relative;
    top: 18px;
  
    color:cyan;
}

button{
    color:black;
    background-color: cornflowerblue;
}
