.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    max-height: 85vh;
    padding: 20px;
    background-color: #4851D4;
  }

.contact {
    display: flex;
    flex-direction: row;
    background-color: #5BADEB;
    min-height: 50vh;
    padding: 20px;
}

h1{
    color: white;
    font-size: 40px;
    position: relative;
    right:650px;
    top: 125px;
}

#money{
   width: 500px;
   height: 500px;
    position: relative;
    left: 60px;
    top: 15px;
}

#info{
    width: 350px;
    height: 175px;
    color: white;
    font-size: 26px;
    position: relative;
    right: 500px;
    top:225px;
    display: flex;
    height: 40vh;
    width: 25%;
    background-color: #48D4CA;
    
    /*border: 3px solid #48D4CA ;
    border-radius: 2%;*/
    
}

#address{
    font-size: 24px;
    color: white;
    position: relative;
    left: 500px;
    bottom: 400px;

}

#phone{
    font-size: 24px;
    color: white;
    position: relative;
    left:500px;
    bottom: 350px

}

#follow{
    font-size: 24px;
    color: white;
    position: relative;
    left:510px;
    bottom: 250px;
    
}
#instagram{
    width: 50px;
    height: 50px;
    position: relative;
    left:510px;
    bottom: 180px;
}

#twitter{
    width: 50px;
    height: 50px;
    position: relative;
    left:510px;
    bottom: 130px;
    
}

#facebook{
    width: 50px;
    height: 50px;
    position: relative;
    left:510px;
    bottom: 80px;

}




h2{
    color: white;
    font-size: 30px;
}

h3{
    font-size: 18px;
    color: white;
    position: relative;
    top: 135px;
    right: 125px;
}

#name{
    width: 350px;
    height: 30px;
    font-size: 14px;
    position: relative;
    top:150px;
    right:100px;
    
}

#note1{
    color: red;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    right: 100px;
    bottom:130px

}

h4{
    font-size: 18px;
    color: white;
    position: relative;
    top:210px;
    right:125px;
    
   
}

#email{
    width: 350px;
    height: 30px;
    font-size: 14px;
    position: relative;
    top: 225px;
    right: 100px;
    
}

#note2{
    color: red;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    right: 100px;
    
    
}

h5{
    font-size: 18px;
    color: white;
    position: relative;
    bottom:-20px;
    left: 570px;
    
}

#message{
    width: 400px;
    height: 175px;
    font-size: 14px;
    position: relative;
    left: 600px;
    bottom: -35px;
    resize: none;
}

#submit{
    background-color: #54F798;
    width: 130px;
    height: 40px;
    position: relative;
    left: 1100px;
    bottom: 250px;
    cursor: pointer;
}

div.name.error {
    color: red;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    left: -126px;
    bottom: -162px;
}
div.email.error {
    color: red;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    left: -119px;
    bottom: -233px;
}
#errorMessage{
    color: red;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    left: 100px;

    
}

footer{
    position: relative;
    top:0px;
}

#pleaseNote{
    color: red;
    width: 25%;
    position: relative;
    left: 1050px;
}


.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    max-height: 85vh;
    padding: 20px;
    background-color: #4851D4;
  }

.contact {
    display: flex;
    flex-direction: row;
    background-color: #5BADEB;
    min-height: 50vh;
    padding: 20px;
}

h1{
    color: white;
    font-size: 40px;
    position: relative;
    right:650px;
    top: 125px;
}

#money{
   width: 500px;
   height: 500px;
    position: relative;
    left: 60px;
    top: 15px;
}

#info{
    width: 350px;
    height: 175px;
    color: white;
    font-size: 26px;
    position: relative;
    right: 500px;
    top:225px;
    display: flex;
    height: 40vh;
    width: 25%;
    background-color: #48D4CA;
    
    /*border: 3px solid #48D4CA ;
    border-radius: 2%;*/
    
}

#address{
    font-size: 24px;
    color: white;
    position: relative;
    left: 500px;
    bottom: 400px;

}

#phone{
    font-size: 24px;
    color: white;
    position: relative;
    left:500px;
    bottom: 350px

}

#follow{
    font-size: 24px;
    color: white;
    position: relative;
    left:510px;
    bottom: 250px;
    
}
#instagram{
    width: 50px;
    height: 50px;
    position: relative;
    left:510px;
    bottom: 180px;
}

#twitter{
    width: 50px;
    height: 50px;
    position: relative;
    left:510px;
    bottom: 130px;
    
}

#facebook{
    width: 50px;
    height: 50px;
    position: relative;
    left:510px;
    bottom: 80px;

}




h2{
    color: white;
    font-size: 30px;
}

h3{
    font-size: 18px;
    color: white;
    position: relative;
    top: 135px;
    right: 125px;
}

#name{
    width: 350px;
    height: 30px;
    font-size: 14px;
    position: relative;
    top:150px;
    right:100px;
    
}

h4{
    font-size: 18px;
    color: white;
    position: relative;
    top:210px;
    right:125px;
    
   
}

#email{
    width: 350px;
    height: 30px;
    font-size: 14px;
    position: relative;
    top: 225px;
    right: 100px;
    
}

h5{
    font-size: 18px;
    color: white;
    position: relative;
    bottom:-20px;
    left: 570px;
    
}

#message{
    width: 400px;
    height: 175px;
    font-size: 14px;
    position: relative;
    left: 600px;
    bottom: -35px;
}

#submit{
    background-color: #54F798;
    width: 130px;
    height: 40px;
    position: relative;
    left: 1100px;
    bottom: 250px;
}

footer{
    position: relative;
    top:0px;
}

