body {
    margin: auto;
    font-family: Arial, sans-serif;
  }
  /* container with opening header and logo */
  .main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 20px;
    background-color: #8c35f5;
  }
  h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-left: 19rem;
    margin-bottom: -40px;
  }
  .buttons {
    margin-top: 110px;
    margin-left: 20rem;
    display: flex;
    gap: 5rem;
  }
  /* button  */
  button {
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background-color: #54f794;
    color: black;
    cursor: pointer;
    font-size: larger;
  }
  /* information about converter section */
  .info {
    display: flex;
    flex-direction: row;
    background-color: #48d4ca;
    min-height: 40vh;
    padding: 60px;
  }
  h2 {
    font-size: 4.5rem;
    margin-top: 90px;
    margin-right: 20px;
    color: white;
  }
  /* paragraph with background */
  #paragraph {
    font-size: 2rem;
    margin-top: 90px;
    text-align: center;
    text-align: left;
    border: 1px solid rgb(0, 0, 0);
    border-color: #252525;
    border-spacing: 2px;
    padding: 30px;
    color: white;
    background-color: #5badeb;
  }
  /* logo image */
  img {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 2px;
    left: 20px;
  }
  /* links for get started and register */
.button {
    color: black;
}

.footer {
  position:relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5badeb;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  clear: both;
}

.footer .container-for-footer {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  
}

.footer #footer-p {
  font-size: 14px;
  margin: 0;
}