body {
    margin: 0;
    padding-top: 20px; /* Adjust this value based on your navbar height */
    background-color: #2979FF;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 0px;
    z-index: 100;
}

h2 {
    color: white;
    margin-top: 90px; /* Adjust this value based on your desired spacing */
}

h3{
    text-align: center;
    color: white;
    position: relative;
    top:45px;
}

#amount{
    width: 250px;
    height: 40px;
    text-align: center;
    position: relative;
    left: 0px;
    top: 50px;
}

h4{
    text-align: 300px;
    color: white;
    position: relative;
    right: 350px;
    top: 150px;
    font-size: 20px;
}

h5{
    color: white;
    position: relative;
    left: 350px;
    bottom: -6px;
    font-size: 20px;
}

#currency1 {
    width: 150px;
    height: 30px;
    border: 1px solid;
    outline: none;
    position: absolute;
    right: 345px;
    bottom: 450px;
}

#currency2{
    position: relative;
    left: 200px;  
}

span#arrows{
    font-size: 60px;
    position: relative;
    top: 100px;
    color:cyan;
}

button{
    color:black;
    background-color: #5CFFF3;
    width: 150px;
    height: 40px;
    border: 1px solid;
    outline: none;
    position: relative;
    top: 60px;
    left:0px;
}

#previous{
    width: 300px;
    height: 40px;
    position: relative;
    right: 200px;
    top:160px;
}

span#equals{
    font-size: 80px;
    color:cyan;
    position: relative;
    top:90px
}

#prior{
    width: 300px;
    height: 40px;
    position: relative;
    left: 200px;
    top: 28px;
}

 .currency-select {
    width: 200px;
    height: 40px;
    margin-top: 10px; 
}
#currencyFrom {
    position: relative;
    left: -350px; 
    top: 150px; 
}

#currencyTo {
    position: relative;
    left: 350px; 
   top: 5px ;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.help{
    color: white;
    position:relative;
    left:0px;
    top:60px;
}

